# -*- mode: python -*-

# Save this file as credentials.py, and modify to suit your setup.

TEMPLATE_DICT = {
    'SITE_NAME' : 'git.example.com',
    'SITE_EMAIL' : 'admin@exampe.com',
    'DB_PASSWORD' : 'admin'
}
